<!-- See: https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-alerts.php -->
<!-- Error Alert -->
<div class="border-secondary alert alert-danger alert-dismissible fade show" role="alert">
  <%= alert %>
  <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
