<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container justify-content-between">
    <%= link_to 'Remote Modals Demo', messages_path, class: 'navbar-brand' %>
    <%= link_to 'Add Message', new_message_path, class: 'btn btn-outline-success my-2 my-sm-0', data: { modal: true } %>

    <!--
    <a href="/assets/site_images/seven_gables.jpg" data-lightbox="image-1" data-title="My caption">Image #1</a>
    -->
  </div>
</nav>
